<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1>Profile</h1>
  <table>
  <tr>
    <td><strong>User Name:</strong></td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td><strong>User Email:</strong></td>
    <td><%= @user.email%></td>
  </tr>
</table>
    </section>
  </aside>
</div>
