.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "picture title title title" "picture posted_b time ." "picture edit_btn delete_btn .";
}

.picture {
  grid-area: picture;
}

.title {
  grid-area: title;
}

.edit_btn {
  grid-area: edit_btn;
}

.delete_btn {
  grid-area: delete_btn;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  float: right;
  margin: 0 auto;
}

.posted_b {
  grid-area: posted_b;
}

.time {
  grid-area: time;
}

.timestamp {
  color: #777;
  display: block;
}

.search {
  float: right;
}
