<% if user_signed_in? %>
 <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
 <li><%= link_to current_user.email, edit_user_registration_path %></li>
<% else %>
 <h1> Already Logout </h1>
 <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
 <%= link_to "Login", new_user_session_path %>
<% end %>
